<html>
    <head>
        <center>
            <h1>Register from</h1>
        </center>
       
    </head>
    <body background="../static/img1.jpeg" style="background-repeat: no-repeat; background-size: 100% 100%;">
        <h1 style="color: cadetblue;"><br>
        </h1>
        <div>
            <p>
 The information of create of regisr from of hotel booking..please fill up any intrested ..
            </p>
        </div>
      <center>
          <form action="/savelink" method="post">
Enter Username<input type="text" name="uname"><br><br>
Enter password<input type="password" name="pass"><br><br>
Enter email<input type="email" name="email"><br><br>
Enter city<input type="text" name="city"><br><br>
<input type="submit" value="submit">
<a href="home1">Go to Back</a>
          </form>
      </center>
    </body>
</html>